{# quoty/app/Resources/views/index.html.twig #}

<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A website about Quote">
		<meta name="author" content="Elfhir - Jérémy Ta">
		{% block meta_refresh %}{% endblock %}
		<title>Quoty - The good quotes</title>
		<link rel="icon" href="{{ asset('bundles/quotyquote/favicon.ico') }}">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

{# 		<link rel="stylesheet" href="{{ asset('bundles/quotyquote/css/theme.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/quotyquote/css/layout.css') }}" type="text/css" /> #}

		{% stylesheets
			'@QuotyQuoteBundle/Resources/public/css/*' filter='cssrewrite'
		%}	
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="wrapper">
			
			{% block main_menu %}
			<div class="fluid-container q-header-container text-center">
				<div class="navbar primary navbar-default">
					<ul class="nav navbar-nav">
						<li class="q-brand">
							<a href="/"><h1>Quoty</h1></a>
						</li>
						<li class="active">
							<a href="{{ path('quoty_quote_viewlist')}}"><span class="glyphicon glyphicon-home"></span> Accueil</a>
						</li>
						<li>
							<a href="/about"><span class="glyphicon glyphicon-info-sign"></span> A propos</a>
						</li>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<li>
								<a href="{{ path('quoty_quote_add')}}" title="Add"><span class="glyphicon glyphicon-plus"></span> Ajouter une quote</a>
							</li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav pull-right">
						<li>
							<a href="{{ path('login') }}" title="Login"><span class="glyphicon glyphicon-log-in"></span>
								Connexion
							</a>
						</li>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<li>
							<a href="{{ path('logout') }}" title="Login"><span class="glyphicon glyphicon-log-out"></span>
								Déconnexion
							</a>
						</li>
						{% else %}
						<li>
							<a href="{{ path('register_user') }}" title="Login"><span class="glyphicon glyphicon-user"></span>
								Inscription
							</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>

			{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
			<div class="fluid-container q-slogan-container">
				<div class="text-center">
					<em>Inscrivez vous, et ajoutez votre citation préférée !</em>
				</div>
			</div>
			{% endif %}

			{% endblock %}

			
			<div class="fluid-container q-main-container clearfix">

			{% block main_container %}

				<div class="jumbotron">
					<div class="container">
						<h1>Great quotes</h1>
						<p>Movies, novels, leaders, scientifics, sportsman ...</p>
						<p>
							<a href="{{ path('quoty_quote')}}" class="btn btn-primary btn-lg">Learn more</a>
						</p>
					</div>
				</div>

			{% endblock %}

			</div>

			<div class="fluid-container clearfix q-footer-container text-center center-block">
				<div class="row">
					<footer class="footer text-center center-block">
						<p><span class="glyphicon glyphicon-copyright-mark"></span> 2014 Jérémy Ta Some Rights Reserved</p>
					</footer>
				</div>
			</div>

		</div><!-- End wrapper -->

		<!-- jQuery -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<!-- Masonry -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.2.1/masonry.pkgd.min.js"></script>
	</body>
</html>